.container {
  display: flex;
}

.sidebar {
  width: 20%;
  border-right: solid 1px black;
}

.main-content {
  	flex-grow: 1;
	padding: 10px;
}

.header {
  	text-align: center;
  	background-color: #80ffff;
}
.center {
  	text-align: center;
}
.right {
  	text-align: right;
}
.rightzura {
  	text-indent: 20px;
}


.footer02 {
 color: #808080;
 background: #e5e5e5;
 text-align: center;
 padding: 30px;
}
.footer02 a {
 color: #808080;
 text-decoration: none;
}
.footer02 a:hover {
 text-decoration: underline;
}
.footer02 .menu {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.footer02 .menu li {
 margin: 0;
 padding: 0 20px;
}
.footer02 .copyright {
 margin: 0;
 padding: 20px 0 0 0;
}


.left{
      float: left;
      width:200px;
      height:100px;
    }
    .clear{
      clear: both;
    }
    .box1{
      background-color: RGB(185,78,72);
      margin : 7px;
      display: flex;
    justify-content: center;
    align-items: center;
    }
    .box2{
      background-color: RGB(143,188,143);
      margin : 7px;
      display: flex;
    justify-content: center;
    align-items: center;
    }
    .box3{
      background-color: RGB(230,230,250);
      margin : 7px;
      display: flex;
    justify-content: center;
    align-items: center;
    }

